---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Prose from '../../components/Prose.astro'
import FormattedDate from '../../components/FormattedDate.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description={entry.data.description}>
  <Prose>
    <div class="my-8 md:my-10">
      <div class="text-2xl font-bold [word-break:auto-phrase] md:text-4xl">
        {entry.data.title}
      </div>
      <div class="mt-2 md:mt-4">
        <FormattedDate date={entry.data.date} />
      </div>
    </div>
    <article>
      <Content />
    </article>
  </Prose>
</Layout>
