---
import Layout from '../../layouts/Layout.astro'
import Container from '../../components/Container.astro'
import BlogCard from '../../components/BlogCard.astro'
---

<Layout title="ブログ一覧">
  <Container>
    <h2 class="my-8 text-xl font-bold">ブログ一覧</h2>
    <BlogCard />
    <BlogCard />
    <BlogCard />
  </Container>
</Layout>
