---
import Layout from '../../layouts/Layout.astro'
import BlogCard from '../../components/BlogCard.astro'
---

<Layout title="ブログ一覧" description="blog">
  <h2 class="my-8 text-xl font-bold">ブログ一覧</h2>
  <BlogCard />
  <BlogCard />
  <BlogCard />
</Layout>
