---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import BlogCard from '../../components/BlogCard.astro'

const blogEntries = await getCollection('blog')
---

<Layout title="ブログ一覧" description="blog">
  <h2 class="my-8 text-xl font-bold">ブログ一覧</h2>

  {
    blogEntries.map((blogPostEntry) => (
      <BlogCard
        title={blogPostEntry.data.title}
        category={blogPostEntry.data.category}
        date={blogPostEntry.data.date}
        slug={blogPostEntry.slug}
      />
    ))
  }
</Layout>
