body {
  font-family:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  color-scheme: light dark;
}

article {
  p img {
    margin-left: auto;
    margin-right: auto;
  }

  img + em {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
    font-size: 0.875em;
    font-style: normal;
    color: #9ca3af;
    text-align: center;
  }

  p:first-of-type,
  h2:first-of-type {
    margin-top: 0;
  }
}
