---
import LayoutTop from '../layouts/LayoutTop.astro'
---

<LayoutTop description="七は結のウェブサイト">
  <main class="flex h-screen flex-col items-center justify-center">
    <h1 class="text-4xl font-bold md:text-6xl">Yui's Web</h1>
    <a
      class="mt-6 rounded border border-sky-500 bg-transparent px-4 py-2 font-bold text-sky-700 hover:border-transparent hover:bg-sky-500 hover:text-white"
      href="/blog/page/1"
      title="Blog"
    >
      Blog
    </a>
  </main>
</LayoutTop>
