---
import Layout from '../layouts/Layout.astro'
import GetFromApi from '../components/GetFromApi.tsx'
---

<Layout title="sample" description="sample">
  <h1 class="mb-4 dark:text-white">Sample Page</h1>
  <GetFromApi client:only="react" />
</Layout>
