---
import Layout from '../layouts/Layout.astro'
import GetFromApi from '../components/GetFromApi.tsx'
---

<Layout title="sample" description="sample">
  <h1>Sample Page</h1>
  <GetFromApi />
</Layout>
