---
import Layout from '../layouts/Layout.astro'
import { GET } from './api/hello.ts'

export const prerender = false

const response = await GET(Astro)
const data = (await response.json()) as { message: string }
if (response.status !== 200) {
  throw new Error(`Failed to fetch data: ${response.statusText}`)
}
const message = data.message
---

<Layout title="sample" description="sample">
  <h1 class="mb-4 dark:text-white">Sample Page</h1>
  <div class="dark:text-white">{message}</div>
</Layout>
