---
import FormattedDate from './FormattedDate.astro'

const { title, date, category, slug } = Astro.props
---

<div class="my-4">
  <ul>
    <div class="flex flex-col rounded border border-gray-300 p-4">
      <a href={`/blog/${slug}`}>
        <h2 class="text-xl font-bold hover:underline hover:decoration-solid">{title}</h2>
      </a>
      <div class="mt-4 flex justify-between">
        <span class="rounded-full bg-gray-200 px-3 py-1 text-xs text-gray-700"> {category} </span>
        <div class="text-sm text-slate-500">
          <FormattedDate date={date} />
        </div>
      </div>
    </div>
  </ul>
</div>
