---
import FormattedDate from './FormattedDate.astro'

interface Props {
  title: string
  date: Date
  category: string
  slug: string
}

const { title, date, category, slug } = Astro.props
---

<div class="my-4">
  <ul>
    <div class="flex flex-col rounded border border-gray-300 p-3 md:p-4 dark:text-slate-100">
      <a href={`/blog/${slug}`}>
        <h2 class="text-lg font-bold hover:underline hover:decoration-solid md:text-xl">{title}</h2>
      </a>
      <div class="mt-3 flex items-center justify-between md:mt-4">
        <span
          class="rounded-full bg-slate-200 px-3 py-1 text-xs text-gray-700 dark:bg-slate-700 dark:text-gray-400"
        >
          {category}
        </span>
        <div class="text-xs text-gray-600 md:text-sm dark:text-gray-400">
          <FormattedDate date={date} />
        </div>
      </div>
    </div>
  </ul>
</div>
