---
import dayjs from 'dayjs'

const { title, date, category, slug } = Astro.props
const formatedDate = dayjs(date).format('YYYY-MM-DD')
---

<div class="m-4">
  <ul>
    <div class="flex flex-col rounded border border-gray-300 p-4">
      <a href={`/blog/${slug}`}>
        <h2 class="text-xl font-bold">{title}</h2>
      </a>
      <div class="mt-4 flex justify-between">
        <span class="rounded-full bg-gray-200 px-3 py-1 text-xs text-gray-700"> {category} </span>
        <time class="text-sm text-slate-500" datetime="2024-01-01"> {formatedDate} </time>
      </div>
    </div>
  </ul>
</div>
