<header class="flex justify-between border-b border-gray-300 p-4">
  <h1 class="text-2xl font-bold">
    <a href="/">Yui.N’s Web</a>
  </h1>
  <nav>
    <ul class="flex space-x-4">
      <li>
        <a href="/blog/page/1">Blog</a>
      </li>
    </ul>
  </nav>
</header>
