---
import { ViewTransitions } from 'astro:transitions'
import Metadata from '../components/Metadata.astro'
import Container from '../components/Container.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
}

const siteName = "Yui's Web"
const { title, description } = Astro.props
---

<html lang="ja">
  <head>
    <Metadata title={title} description={description} />
    <title>{`${siteName}`}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>
